:root {
    --main-color: #e38528;
    --box-color: #ffffff6f;
    --main-color-light: #007bff;
    /* Light mode main color */
    --main-color-dark: #61dafb;
    /* Dark mode main color */
    --box-color-light: #ffffff;
    /* Light mode box color */
    --box-color-dark: #b0d2f356;
    /* Dark mode box color */
    --text-color-light: #111111;
    /* Light mode text color */
    --text-color-dark: #eeeeee;
    /* Dark mode text color */

}

body.dark-mode .area {
    background-color: #000;
    /* Adjust the base color */
    background-image: linear-gradient(135deg, #000000 0%, #1a1a1a 100%);
    /* Adjust the gradient colors */
    color: #fff;
    /* Adjust the text color */
}


.dark-mode .heading {
    color: rgb(197, 194, 194);
}

.dark-mode #container .brand h3 {
    color: rgb(197, 194, 194);
}

.dark-mode #container .brand a ion-icon {
    color: rgb(197, 194, 194);
}

.dark-mode #container .navbar ul li a span {
    color: rgb(197, 194, 194);
}

.dark-mode #container .navbar ul li a ion-icon {

    color: rgb(197, 194, 194);
}

.dark-mode {
    --main-color: var(--main-color-dark);
    --box-color: var(--box-color-dark);
    --text-color: var(--text-color-dark);
}
.dark-mode .home .content .box-container .image img {
    filter: brightness(50%);
}

.dark-mode .home .content .hi {
    color: var(--main-color-dark);
}

.dark-mode .home .content h3 {
    color: var(--text-color-dark);
}

.dark-mode .home .content h3 span {
    color: var(--main-color-dark);
}

.dark-mode .home .content .box-container .image {
    border: 1rem solid var(--box-color-dark);
}

.dark-mode .home .content .box-container .box .text {
    color: rgb(197, 194, 194);
}

.dark-mode .home .content .box-container .box .info {
    color: var(--text-color-dark);
}

.dark-mode .home .content .box-container .box:hover {
    background: rgba(0, 10, 51, 0.474);
}

.dark-mode .about .image img {
    filter:brightness(70%);
}
.dark-mode .about .content .box-container .box:hover {
    background: rgba(0, 10, 51, 0.474);
}

.dark-mode .experience .box-container .box .content:hover {
    background: rgba(0, 10, 51, 0.474);
}

.dark-mode .skill .box-container .progress:hover {
    background: rgba(0, 10, 51, 0.474);
}

.dark-mode .service .box-container .box:hover {
    background: rgba(0, 10, 51, 0.474);
}

.dark-mode .contact .icons-container .icons:hover {
    background: rgba(0, 10, 51, 0.474);
}

.dark-mode .about .content h3 {
    color: rgb(197, 194, 194);
}

.dark-mode .about .content .box-container .box p {
    color: rgb(197, 194, 194);
}

.dark-mode .about .content .box-container .box p a {
    color: rgb(197, 194, 194);
}

.dark-mode .skill .progress h3 {
    color: rgb(197, 194, 194);
}

.dark-mode .portfolio .box-container .box:hover {
    background: rgba(0, 10, 51, 0.474);
}

.dark-mode .portfolio .box-container .box h3 {
    color: rgb(197, 194, 194);
}

.dark-mode .portfolio .box-container .box {
    border-color: rgb(197, 194, 194);
}

.dark-mode .service .box-container .box h3 a {
    color: rgb(197, 194, 194);
}

.dark-mode .service .box-container .box i {
    color: #111;
}

.dark-mode .service .box-container .box p {
    color: rgb(197, 194, 194);
}

.dark-mode .experience .box-container .box .content p {
    color: rgb(197, 194, 194);
}

.dark-mode .experience .box-container .box .content h3 {

    color: rgb(197, 194, 194)
}

.dark-mode .contact .icons-container .icons i {
    color: #111;
}

.dark-mode .contact .icons-container .icons p {
    color: rgb(197, 194, 194);
}

.dark-mode .contact .icons-container .icons h3 {
    color: rgb(197, 194, 194);

}

.dark-mode .footer__title,
.footer__link {
    color: rgb(197, 194, 194);
}

.dark-mode .footer__social a {

    color: rgb(197, 194, 194);
}

.dark-mode .share {
    color: rgb(197, 194, 194);
    border: #007bff;
}

.dark-mode .share .contact__container .contact__content .contact__form-div .contact__form-input {
    color: rgb(197, 194, 194);
    border-color: #7bb3ee;
}

.dark-mode .share .contact__container .contact__content:hover {
    background: rgba(0, 10, 51, 0.474);
    border-left: solid #ff8c00;
    /* Updated border color */
    border-right: solid #4caf50;
    /* Updated border color */
    border-top: solid #2196f3;
    /* Updated border color */
    border-bottom: solid #e91e63;
    /* Updated border color */
    box-shadow: 0 .5rem 1rem rgba(255, 152, 0, 0.8);
    /* Updated box shadow */
    border-radius: 1rem;
    border-width: 0.3rem;
    transition: all 0.3s ease-in-out;
    transform: translateY(10px);
    /* Move the box along y-axis */
    filter: brightness(1.2);
}

.dark-mode .button-86::before {
    background: var(--main-color-dark);
}

.dark-mode .button-86::after {
    background: var(--main-color-dark);
    
}
.dark-mode .button-86 {
    color: #000000;
}
.dark-mode .share .contact__container .contact__content .contact__form-div .contact__form-input:hover {


    color: #fff;


}